<h1>Account</h1>
<p><a href=/category>Category Details</a></p>
<p><a href=/transaction/new>New Transaction</a></p>
<% if @categories.empty? %>
  <h3>To get started, click <a href=/category/new>here</a> to create a new category to use as a column heading.</h3>
<% else %>
  <% if @transactions.empty? %>
    <h3>To get started adding incomings and outgoings, click <a href=/transaction/new>here</a> to create a new transaction.</h3>
  <% else %>
    <h3>currently showing between <%= @transactions.first.date.strftime('%d/%m/%Y') %> and <%= @transactions.last.date.strftime('%d/%m/%Y') %></h3>
  <% end %>
<% end %>
<table border="1">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th colspan="2">Amount (£)</th>
    <% @categories.each do |category| %>
      <th colspan="2"><%= category.name %> (£)</th>
    <% end %>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date.strftime('%d/%m/%Y') %></td>
      <td><a href="/transaction/<%= transaction.id %>"><%= transaction.description %></a></td>
      <td><%= transaction.amount_as_string %></td>
      <td><%= transaction.running_total_as_string %></td>
      <% ((@categories.slice(0, @categories.find_index {|elt| elt.name == transaction.category.name }).count)*2).times do %>
        <td></td>
      <% end %>
      <td><%= transaction.amount_as_string %></td>
      <td><%= transaction.running_total_for_category_as_string %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td>Total (£)</td>
    <td><%= @total > 0 ? '+' : '' %><%= '%.2f' % @total %></td>
  </tr>
</table>
<%= will_paginate @transactions %>
